<div class="panel-body">
<%= simple_form_for [post, post.comments.build], remote: true do |f| %>
  <div class="form-inputs">
    <div class="form-group">
      <%= f.input :body, autofocus: true, required: false,  input_html: {class: 'from-control'} %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Send', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>