// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3, p {
  padding: 10px;
}

.post{
  border: 1px solid black;
  margin: 20px auto;
  border-radius: 5px;
}

.post h3{
  margin-bottom: 0;
  padding-bottom: 5px;
}
.post span{
  margin-left: 15px;
}

.description{
  width: auto;
}
